.card {
  margin-bottom: 1em;
}

.cardContentLink {
  color: #575757;
}

.cardContentLink:hover {
  text-decoration: none;
}

.cardTitle {
  font-size  : 1.3em;
  line-height: 1.3em;
}

.cardJobType {
  font-size: 1.1em
}