.card {
  margin-bottom: 1.5em;
}

.cardContentLink {
  color: #575757;
}

.cardTitle {
  font-size  : 1.3em;
  line-height: 1.3em;
  color      : #3a493a
}

.cardJobType {
  font-size: 1em;
  color    : #727272;
}

.cardContentLink:hover {
  text-decoration: none;
  color          : #727272
}

.cardOrgInfo {
  text-align: center;
}

.cardOrgName {
  font-size: 0.6em;
}

.cardJobSkills {
  padding-top: 1em;
}